<header class="flex px-4 py-4 border-b-2 bg-white border-blue-500 md:px-8">
  <nav class="flex-1">
    @for (page of pages; track page.route) {
      <a class="link" [routerLink]="[page.route]" routerLinkActive="router-link-active">
        {{page.title}}
      </a>
    }
  </nav>
  <div>
    @if (user) {
      <span class="p-2"> Welcome, {{ user.name }}</span>
    }
    <a 
      class="link"
      (click)="logout()"
    >
      Logout
    </a>
  </div>
</header>

<main class="px-4 py-4 flex-1">
  <router-outlet />
</main>
