<div class="flex gap-5">
  <input 
    type="search" 
    class="border-2 rounded-md hover:border-blue-500 px-4 py-2 w-80 outline-none"
    placeholder="Search by name or description"
    #filterInput 
    (input)="filterRepos(filterInput.value)"
  />
</div>

<div class="flex-auto">
  @if (repos$ | async; as repos) {
    <ag-grid-angular 
      class="ag-theme-quartz h-full" 
      [rowData]="repos" 
      [columnDefs]="colDefs"
      [gridOptions]="gridOptions"
      (gridReady)="onGridReady($event)"
    />
  }
</div>
